.artwork-detail-container {
	text-align: center;
	padding: 2rem;
}

.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.carousel img {
	max-width: 80vw;
	max-height: 80vh;
	object-fit: contain;
}

.carousel button {
	background: none;
	border: none;
	font-size: var(--font-title);
	cursor: pointer;
}
