.cv-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: calc(100vh - 120px);
	width: 100vw;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	flex-wrap: wrap;
}

.cv-page div,
.cv-page .wp-block-group {
	width: 100%;
	max-width: 700px;
	padding: 0 1rem;
	margin: 0 auto 2rem auto;
	box-sizing: border-box;
}

.cv-page h2 {
	font-size: var(--font-subtitle);
	letter-spacing: 1px;
	padding: 1.5rem;
	padding-left: 0;
	margin: 0;
}

.cv-page ul {
	list-style: none;
	padding-left: 0;
	max-width: 700px;
    padding: 0 1rem;
    margin: 0 auto 2rem auto;
	border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
}


.cv-page ul:last-of-type {
    border-bottom: 0px;
    padding-bottom: 0;
}

.cv-page ul li {
	align-items: baseline;
	line-height: 2;
	max-width: 90%;
	box-sizing: border-box;
}

.cv-date {
	font-style: italic;
	font-weight: 200;
	font-size: 0.9rem;
	margin-right: 0.4rem;
	display: inline-block;
	min-width: 3ch;
}

.cv-page section:not(:last-child),
.cv-page .wp-block-group:not(:last-child) {
	border-bottom: 1px solid #ccc;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

@media (max-width: 768px) {
	.cv-page {
		padding-top: unset;
	}

	.cv-page ul {
		padding-left: 20px;
	}
}
