.site-header {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #ccc;
	z-index: 100;
	padding: 2rem;
}

.header-name {
	font-size: var(--font-title);
	font-weight: 500;
	margin-bottom: 0.7rem;
}

.header-img {
	display: block;
	width: 204px;
	height: auto;
}

@media (min-width: 1185px) {
	.header-img {
		width: 17vw;
	}
}

.header-name a {
	text-decoration: none;
	color: inherit;
}

.nav-block {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	font-weight: 200;
	font-size: var(--font-body);
}

.nav-block a {
	text-decoration: none;
	transition: opacity 0.2s;
	font-family: "Inter", sans-serif;
	color: #6c6565;
}

.nav-block a:hover,
.header-name a:hover {
	opacity: 0.5;
}

.nav-block a.active {
	opacity: 0.5;
}

