.hero-image {
	max-height: 100%;
	max-width: 90vw;
	height: auto;
	object-fit: contain;
	display: block;
	margin: 0 auto;
	filter: brightness(0.95);
	transition: opacity 0.4s ease-in;
}

.home-hero-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc(100vh - (350px + 2rem));
}

.hero-image.hidden {
	opacity: 0;
}

.hero-image:not(.hidden) {
	opacity: 1;
}
