.hero-image {
  max-height: calc(100vh - 210px - 4rem);
  object-fit: contain;
  display: block;
  margin: 0 auto;
  filter: brightness(0.95);
  width: 100%;
  max-width: 800px; /* optional */
}

.home-hero-wrapper {
  height: 100%;
}


